@charset "UTF-8";

/* Typical Device Breakpoints 
-------------------------------
Pequenas telas: até 600px 
Celular:        660px até 768px 
Tablet:         768px até 992px 
Desktop:        992px até 1200px 
Grandes telas:  acima  de 1200px
*/

/* Paleta de cores 
Verde:        #49a09d 
Lilas:        #5f2c82
Cinza claro:  #939393
Cinza escuro: #2d6462
*/


* {
    padding: 0px;
    margin: 0px;
    font-family:"Ubuntu", Arial, Helvetica, sans-serif ;
}

body {
    background: #5f2c82;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main section {
    background-color: rgb(255, 255, 255);
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;

}

#img-login {
    background: #5f2c82 url(../imagens/metal.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 250px;
    height: 200px;
    border-radius:  25px 25px 0px 0px;
}

#div-login {
    justify-content: center;
    padding: 0px 10px 32px 10px;
}

section h1 {
    text-align: center;
    font-weight: 500;
    margin: 10px;
}

section p {
    margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: 300;
}

span.material-symbols-outlined {
    color: white;

}

form > div.dados{
    background-color: #5f2c82;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    margin: 3px 0px 3px 0px;
}
span.material-symbols-outlined{
    padding: 0px 4px 0px 6px;
    margin: 0px 0px 0px 0px;
    font-size: 1.8em;
    transform: translateY(6px);
}

input#isen, input#iemail { 
    width: 43.5%;
    height: 100%;
    padding: 7px 73px 5px 11px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    transform: translateY(-3px);
}

div  input#entrar {
    background-color: #939393;
    border: none;
    padding: 8px 0px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    display: inline-block;
}

div  input#entrar:hover {
    background-color: #2d6462;
}

div a.recuperacao {
    display: inline-block;
    border: #2d6462 1px solid;
    padding: 6px 0dvb;
    width: 99.5%;
    margin: 5px 0px 0px 0px;
    text-decoration: none;
    color: #2d6462;
    text-align: center;
    border-radius: 5px;
}

div a.recuperacao:hover {
    background-color: #939393;
}

#icon-email {
    color: #2d6462;
    transform: translateY(2px);
    font-size: 1.3em;
}





